@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

h1 {
  color: #473e96;
  font-family: 'DotGothic16', sans-serif;
}

code {
  background: #d0d0d5;
}

.form-container {
  max-width: 95%;
  float: left;
  padding: 6px;
}

textarea {
  width: 99%;
}

#user-stories {
  font-size: 1.2em;
}

#check-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, white , beige);
  font-family: Verdana;
  font-size: 14px;
  border-bottom: 1px solid beige;
}

input[type="text"] {
  background: #d7dbcc;
  width: 2ch;
  text-align: right;
}

input[type="button"] {
  border: none;
  background: black;
  color: white;
  border-radius: 8px;
}

input[type="button"]:hover {
  cursor: pointer;
}

#sudoku-grid {
  text-align: center;
  padding: 6px;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

td {
  border: 1px solid;
  padding: 0.3em;
}

.sudoku-input {
  border: 1px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
}

.C1, .C2, .C3, .C4, .C5, .C6, .C7, .C8, .C9, .F1, .F2, .F3, .F4, .F5, .F6, .F7, .F8, .F9 {
  border-bottom: 3px solid black;
}

.A3, .B3, .C3, .D3, .E3, .F3, .G3, .H3, .I3, .A6, .B6, .C6, .D6, .E6, .F6, .G6, .H6, .I6 {
  border-right: 3px solid black;
}

.selected {
  animation-name: unit-highlight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0,1,0,1);
}

@keyframes unit-highlight {
  0% {border-color: black;}
  33% {border-color: black;}
  66% {border-color: yellow;}
  100% {border-color: yellow;}
}

@media (min-width: 800px) {
  .form-container {
    align-self: flex-end;
  }
}
